## **1.prime number**

In [ ]:
num=int(input("enter the number :" ))
#except the number 0 and 1
if(num>1):
  for i in range(2,(num//2)+1):
    if(num%i==0):
      print(num," is not prime number")
      break
  else:
      print(num," is a prime number")
else:
  print(num," is not a prime number")

## **2.product of random numbers**

In [6]:
import random
num1=random.randint(1,10)
print(num1)
num2=random.randint(1,10)
print(num2)
product=num1*num2
user_product=int(input("user entered product is :"))
if(product==user_product):
  print("correct")
else:
  print("incorrect")

8
4
user entered product is :32
correct

## **3.square of even/odd numbers**

In [8]:
for i in range(100,201):
  if(i%2==0):
    print("the square of even number ",i,"is",i*i)
  else:
    print("the square of odd number ",i,"is",i*i)

the square of even number  100 is 10000
the square of odd number  101 is 10201
the square of even number  102 is 10404
the square of odd number  103 is 10609
the square of even number  104 is 10816
the square of odd number  105 is 11025
the square of even number  106 is 11236
the square of odd number  107 is 11449
the square of even number  108 is 11664
the square of odd number  109 is 11881
the square of even number  110 is 12100
the square of odd number  111 is 12321
the square of even number  112 is 12544
the square of odd number  113 is 12769
the square of even number  114 is 12996
the square of odd number  115 is 13225
the square of even number  116 is 13456
the square of odd number  117 is 13689
the square of even number  118 is 13924
the square of odd number  119 is 14161
the square of even number  120 is 14400
the square of odd number  121 is 14641
the square of even number  122 is 14884
the square of odd number  123 is 15129
the square of even number  124 is 15376
the square of odd number  125 is 15625
the square of even number  126 is 15876
the square of odd number  127 is 16129
the square of even number  128 is 16384
the square of odd number  129 is 16641
the square of even number  130 is 16900
the square of odd number  131 is 17161
the square of even number  132 is 17424
the square of odd number  133 is 17689
the square of even number  134 is 17956
the square of odd number  135 is 18225
the square of even number  136 is 18496
the square of odd number  137 is 18769
the square of even number  138 is 19044
the square of odd number  139 is 19321
the square of even number  140 is 19600
the square of odd number  141 is 19881
the square of even number  142 is 20164
the square of odd number  143 is 20449
the square of even number  144 is 20736
the square of odd number  145 is 21025
the square of even number  146 is 21316
the square of odd number  147 is 21609
the square of even number  148 is 21904
the square of odd number  149 is 22201
the square of even number  150 is 22500
the square of odd number  151 is 22801
the square of even number  152 is 23104
the square of odd number  153 is 23409
the square of even number  154 is 23716
the square of odd number  155 is 24025
the square of even number  156 is 24336
the square of odd number  157 is 24649
the square of even number  158 is 24964
the square of odd number  159 is 25281
the square of even number  160 is 25600
the square of odd number  161 is 25921
the square of even number  162 is 26244
the square of odd number  163 is 26569
the square of even number  164 is 26896
the square of odd number  165 is 27225
the square of even number  166 is 27556
the square of odd number  167 is 27889
the square of even number  168 is 28224
the square of odd number  169 is 28561
the square of even number  170 is 28900
the square of odd number  171 is 29241
the square of even number  172 is 29584
the square of odd number  173 is 29929
the square of even number  174 is 30276
the square of odd number  175 is 30625
the square of even number  176 is 30976
the square of odd number  177 is 31329
the square of even number  178 is 31684
the square of odd number  179 is 32041
the square of even number  180 is 32400
the square of odd number  181 is 32761
the square of even number  182 is 33124
the square of odd number  183 is 33489
the square of even number  184 is 33856
the square of odd number  185 is 34225
the square of even number  186 is 34596
the square of odd number  187 is 34969
the square of even number  188 is 35344
the square of odd number  189 is 35721
the square of even number  190 is 36100
the square of odd number  191 is 36481
the square of even number  192 is 36864
the square of odd number  193 is 37249
the square of even number  194 is 37636
the square of odd number  195 is 38025
the square of even number  196 is 38416
the square of odd number  197 is 38809
the square of even number  198 is 39204
the square of odd number  199 is 39601
the square of even number  200 is 40000

## **4.word counter**

In [19]:
def count_words(text):
  words=text.split()
  word_count={}
  for word in words:
      word=word.strip('.,!?;:')

      if word in word_count:
                      word_count[word]+=1
      else:
                      word_count[word]=1

  return word_count
input_text=str(input("enter the text:"))
word_count=count_words(input_text)
for word,count in word_count.items():
  print(f"'{word}':{count}")

enter the text:my name is spoorthi is my name is spoorthi
'my':2
'name':2
'is':3
'spoorthi':2

## **5.check for pallindrome**

In [21]:
import re
def is_pallindrome(s):
  s=s.lower()
  s=re.sub(r'[^a-zA-Z0-9]','',s)
  return s==s[::-1]
input_string=str(input("enter the string:"))
if is_pallindrome(input_string):
  print("the string is pallindrome")
else:
  print("the string is not  pallindrome")

enter the string:spoorthi
the string is not  pallindrome